body {
    background-image: url(img/space.jpg);
    background-position: center;
    background-size: cover;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.spaceship {
    position: absolute;
}

.spaceship img {
    width: 80px;
    height: 80px;
}