table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

.slideBar {
    display: flex;
    flex-direction: row;
}

.result {
    width: 400px;
    text-align: center;
    font-size: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}