button {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
}

.bloc {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.move {
    margin-left: 50px;
}

.dark {
    color: white;
    background-color: black;
    border-color: white;
}